<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://js.stripe.com/v3/"></script>
    <title>Title</title>
</head>
<body>
<div class="inner-container">
    <section class="container">
        <div>
            <div class="header-container">
                <h1 class="header">premium-channel</h1>
            </div>

            <h4 class="subline">$11 To Pay</h4>
            <div class="image-container">
                <img class="image" src="https://res-3.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco/v1440924046/wi1mlnkbn2jluko8pzkj.png" alt="discord pp">
            </div>
            <div class="form-inner-container">
                <form>
                    <label class="form-label" for="dcId">Your Discord ID</label>
                    <input class="input-box" type="text" required id="dcId">

                    <div id="example4-paymentRequest" id="card-element">
                        <!--Stripe paymentRequestButton Element inserted here-->
                    </div>

                    <div class="card-container">
                        <label class="card-only" data-tid="elements_examples.form.pay_with_card">Pay with card</label>
                        <div class="container">
                            <div id="card-element"></div>
                            <button type="submit" id="sumbit" data-tid="elements_examples.form.donate_button"><div class="button-text">Purchace</div></button>
                        </div>
                        <div id="card-errors" role="alert"></div>
                        <div id="card-success" role="alert"></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>


<!-- Scripts for each example: -->
<script>
    const publishKey = "pk_test_51HiWyuF6q8U5dXkGMTwLufwkOskthbZrRCd3vn6G8gfVhiCczLr4tUS6vUzGTPcnFD2WkkbtlStt5aQG3F3XdVEy00fxnvt8wV"
    const client_secret = "pi_1HmmWPF6q8U5dXkGKW8WoJDX_secret_MC8j5h8eHdhYVh1imt1645Cq2"
    const stripe = Stripe(publishKey);
    const elements = stripe.elements()
    const displayError = document.querySelector("#card-errors")
    const displaySuccess = document.querySelector("#card-success")
    const form = document.querySelector("form")
    const discord_id = document.querySelector("#dcId")
    const submbitButton = document.querySelector("#sumbit")

    var card = elements.create("card");

    card.mount("#card-element");

    card.addEventListener("change", ({error}) => {
        if(error) {
            displayError.textContent = error.message
        } else {
            displayError.textContent = ""
        }
    })

    form.addEventListener("submit", async (e) => {
        e.preventDefault()
        if(!submbitButton.hasAttribute("disabled")) {
            submbitButton.setAttribute('disabled', 'true')
            const result = await stripe.confirmCardPayment(client_secret, {
                payment_method: {
                    card,
                }
            });

            if(result.error) {
                displayError.textContent = result.error.message
            } else {
                if(result.paymentIntent.status === "succeeded") {
                    displaySuccess.textContent = "Payment success. You just bought 30 days access to this private channel."
                    form.reset()
                    card.clear()
                }
            }
            submbitButton.removeAttribute("disabled");
        }
    })

</script>

</body>
</html>
