<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <title>Title</title>
    </head>
    <body>
    <div class="inner-container">
        <section class="container">
            <div>
                <div class="header-container">
                    <h1 class="header">#{channelName}</h1>
                </div>

                <h4 class="subline">$#{price} To Pay</h4>
                <div class="image-container">
                    <img class="image" src="#{discordImage}" alt="discord pp">
                </div>
                <div class="form-inner-container">
                    <form action="" class="form-container">
                        <div class="label-container">
                            <label class="form-label" for="dcId">Your Discord ID</label><br>
                        </div>
                        <div class="box-container">
                            <input class="input-box" type="text" id="dcId" name="dcId"><br>
                        </div>
                        <div class="sumbit-container">
                            <input class="sumbit-button" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <script>
        const Stripe = require("stripe");
        const stripe = Stripe('pk_test_51HiWyuF6q8U5dXkGMTwLufwkOskthbZrRCd3vn6G8gfVhiCczLr4tUS6vUzGTPcnFD2WkkbtlStt5aQG3F3XdVEy00fxnvt8wV' /*publishableKey*/)
    </script>
    </body>
</html>
