@font-face {
    font-family: UniSansHeavy;
    src: url("fonts/Uni Sans Heavy.otf");
}

body {
    background-image: url("background.png");
}

.inner-container {
    padding-top: 5%;
}

.container{
    background-color: #2C2F33;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    border-width: 1px;
    border-style: none;
    border-image: initial;
    border-radius: 6px;
    padding: 32px 28px;
}

.header-container{
    margin: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #23272A;

    border-radius: 7px;
    border-style: none;
}

.header{
    letter-spacing: 1px;
    text-align: center;
    font-family: UniSansHeavy, sans-serif;
    font-size: 35px;
    color: white;
}

.subline{
    letter-spacing: 1px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    color: #7289DA;
    font-family: UniSansHeavy, sans-serif;
    font-size: 40px;
}

.image-container{
    padding-top: 15px;
    padding-bottom: 15px;
}

.image{
    display: block;
    margin: auto;
    box-sizing: border-box;
    border: 5px solid transparent;
    border-radius: 25px;
}

.form-container{
    margin: auto;
    text-align: center;
}

.form-label{
    letter-spacing: 1px;
    text-align: center;
    font-family: UniSansHeavy, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #7289DA;
}

.label-container{
    padding-bottom: 5px;
}

.box-container{
    width: 100%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

.box-container input{
    background-color: #99AAB5;
    border-style: none;
    border-radius: 7px;
    box-sizing: border-box;
}

.sumbit-container{
    padding-top: 10px;
}

.input-box{
    padding-top: 10px;
    width: 45%;
}

.sumbit-button{
    background-color: #7289DA;
    font-family: UniSansHeavy, sans-serif;
    letter-spacing: 3px;
    color: white;
    font-size: 20px;
    margin: 0;
    width: 60%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    border-radius: 4px;
    border-style: none;
}
